.Book {

    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    }



}
